<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="news">
    <section>
        <div class="container">
            <div class="padding-vertical-60">
                <div class="section-header">
                    <h2>News</h2>
                </div>

                <div class="section-content">
                    <div class="home-section-posts owl-carousel">

                        <div class="section-post">
                            <div class="section-post-media">
                                <a href="#" title="San Francisco Felt Pennant">
                                    <img src="./img/samples/posts/index/1.jpg" alt="">
                                </a>
                            </div>

                            <div class="section-post-body">
                                <div class="section-post-time">
                                    <span>26</span>  <small>August</small>
                                </div>

                                <h4 class="section-post-title">
                                    <a href="#" title="San Francisco Felt Pennant">San Francisco Felt Pennant</a>
                                </h4>

                                <p class="section-post-excerpt">Lorem Ipsum is simply dummy text of the printing and typeseting industry.</p>

                                <a href="#" title="" class="read-more">Read more</a>
                            </div>
                        </div>

                        <div class="section-post">
                            <div class="section-post-media">
                                <a href="#" title="San Francisco Felt Pennant">
                                    <img src="./img/samples/posts/index/2.jpg" alt="">
                                </a>
                            </div>

                            <div class="section-post-body">
                                <div class="section-post-time">
                                    <span>18</span>  <small>August</small>
                                </div>

                                <h4 class="section-post-title">
                                    <a href="#" title="San Francisco Felt Pennant">San Francisco Felt Pennant</a>
                                </h4>

                                <p class="section-post-excerpt">Lorem Ipsum is simply dummy text of the printing and typeseting industry.</p>

                                <a href="#" title="" class="read-more">Read more</a>
                            </div>
                        </div>

                        <div class="section-post">
                            <div class="section-post-media">
                                <a href="#" title="San Francisco Felt Pennant">
                                    <img src="./img/samples/posts/index/1.jpg" alt="">
                                </a>
                            </div>

                            <div class="section-post-body">
                                <div class="section-post-time">
                                    <span>26</span>  <small>August</small>
                                </div>

                                <h4 class="section-post-title">
                                    <a href="#" title="San Francisco Felt Pennant">San Francisco Felt Pennant</a>
                                </h4>

                                <p class="section-post-excerpt">Lorem Ipsum is simply dummy text of the printing and typeseting industry.</p>

                                <a href="#" title="" class="read-more">Read more</a>
                            </div>
                        </div>

                        <div class="section-post">
                            <div class="section-post-media">
                                <a href="#" title="San Francisco Felt Pennant">
                                    <img src="./img/samples/posts/index/2.jpg" alt="">
                                </a>
                            </div>

                            <div class="section-post-body">
                                <div class="section-post-time">
                                    <span>18</span>  <small>August</small>
                                </div>

                                <h4 class="section-post-title">
                                    <a href="#" title="San Francisco Felt Pennant">San Francisco Felt Pennant</a>
                                </h4>

                                <p class="section-post-excerpt">Lorem Ipsum is simply dummy text of the printing and typeseting industry.</p>

                                <a href="#" title="" class="read-more">Read more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>
</div>
</body>
</html>