<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="trendding">
    <section>
        <div class="container">

            <div class="home-trending padding-vertical-50">
                <div class="section-header center">
                    <h2 class="upper margin-bottom-20">What's Trending</h2>
                    <p>All trend style for man</p>
                </div>
                <!-- ./section-header -->

                <div class="row">

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="awe-media">
                            <div class="awe-media-image">
                                <a href="#" title="New Collection For Man">
                                    <img src="./img/samples/collections/trending/1.jpg" alt="">
                                </a>
                            </div>
                            <!-- /.awe-media-image -->

                            <div class="awe-media-body center margin-vertical-20">
                                <a href="#" title="New Collection For Man">New Collection For Man</a>
                            </div>
                            <!-- /.awe-media-body -->
                        </div>
                        <!-- /.awe-media -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="awe-media">
                            <div class="awe-media-image">
                                <a href="#" title="New Trending Shop">
                                    <img src="./img/samples/collections/trending/2.jpg" alt="">
                                </a>
                            </div>
                            <!-- /.awe-media-image -->

                            <div class="awe-media-body center margin-vertical-20">
                                <a href="#" title="New Trending Shop">New Trending Shop</a>
                            </div>
                            <!-- /.awe-media-body -->
                        </div>
                        <!-- /.awe-media -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="awe-media">
                            <div class="awe-media-image">
                                <a href="#" title="New Fashion for Cafe Racer Boy">
                                    <img src="./img/samples/collections/trending/3.jpg" alt="">
                                </a>
                            </div>
                            <!-- /.awe-media-image -->

                            <div class="awe-media-body center margin-vertical-20">
                                <a href="#" title="New Fashion for Cafe Racer Boy">New Fashion for Cafe Racer Boy</a>
                            </div>
                            <!-- /.awe-media-body -->
                        </div>
                        <!-- /.awe-media -->
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="awe-media">
                            <div class="awe-media-image">
                                <a href="#" title="New Watch Style">
                                    <img src="./img/samples/collections/trending/4.jpg" alt="">
                                </a>
                            </div>
                            <!-- /.awe-media-image -->

                            <div class="awe-media-body center margin-vertical-20">
                                <a href="#" title="New Watch Style">New Watch Style</a>
                            </div>
                            <!-- /.awe-media-body -->
                        </div>
                        <!-- /.awe-media -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.home-trending -->

        </div>
        <!-- /.container -->
    </section>
</div>

</body>
</html>