<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>+ Product Deatils +</title>
</head>
<body>
<th:block layout:fragment="content">
<!-- // LOADING -->
<div class="awe-page-loading">
    <div class="awe-loading-wrapper">
        <div class="awe-loading-icon">
            <span class="icon icon-logo"></span>
        </div>

        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </div>
</div>
<!-- // END LOADING -->


<div id="wrapper" class="main-wrapper ">
    <div id="main">
        <section class="border-bottom">
            <div class="container">
                <div class="policy-wrapper">

                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-8">
                            <div class="policy">
                                <div class="policy-icon">
                                    <i class="icon icon-dolar-circle"></i>
                                </div>

                                <div class="policy-text">
                                    <h4>100% Money back</h4>
                                    <p>Guarantee</p>
                                </div>
                            </div>
                            <!-- /.policy -->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-8">
                            <div class="policy">
                                <div class="policy-icon">
                                    <i class="icon icon-car"></i>
                                </div>

                                <div class="policy-text">
                                    <h4>Free shipping</h4>
                                    <p>On order over 500$</p>
                                </div>
                            </div>
                            <!-- /.policy -->
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-8">
                            <div class="policy">
                                <div class="policy-icon">
                                    <i class="icon icon-telephone"></i>
                                </div>

                                <div class="policy-text">
                                    <h4>24-hour</h4>
                                    <p>active support</p>
                                </div>
                            </div>
                            <!-- /.policy -->
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.policy-wrapper -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->

        <section>
            <!--            ========================================== ================================================-->

            <div class="row card border-bottom-gray-900" style="width:auto;height:500px">
                <div class="card-body">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 center">
                        <div class="card">
                            <div class="card-body">
                                <img id="change-image" src="/images/photo-long-2.jpg" alt="Black Image"
                                     style="width: 370px;height : 500px;margin-top: 5%; padding: 10px;"/>
                            </div>
                        </div>

                        <div class="button-container">
                            <a><img class="black-button " src="/images/photo-long-2.jpg"
                                    style="width: 85px;height: 85px; border: 3px solid cornflowerblue"></img></a>
                            <a><img class="red-button " src="/images/photo-long-1.jpg"
                                    style="width: 85px;height: 85px"></img></a>
                            <a><img class="blue-button " src="/images/photo-long-3.jpg"
                                    style="width: 85px;height: 85px"></img></a>
                            <a><img class="yellow-button " src="/images/photo-long-4.jpg"
                                    style="width: 85px;height: 85px"></img></a>
                        </div>


                    </div>
                    <div class="col-md-5" style="margin-top: 2%">
                        <label class="float-left bold" style="font-size: 45px" th:text="${productDetail.name}"></label>
                        <p style="font-size: 20px; margin-top: 20px; width: auto;height: 200px"
                           th:text="${productDetail.description}"></p>
                        <hr>
                        <label style="font-size: 20px">Price: &nbsp;&nbsp;&nbsp; </label>
                        <label style="font-size: 30px;" th:text="${productDetail.price}+'$'"> </label><br>
                        <input type="number" style="font-size: 20px" class="number" value="1"><br><br><br>
                        <button class="button btn btn-danger" name="btnCart">
                            <span class="i-Heart" style="font-size: 20px">Add to WhishList</span>
                        </button>
                        <a th:href="@{cart/add(id=${productDetail.id})}" class="button btn btn-success bg-1"name="btnCart">
                            <span class="i-Add-Cart"style="font-size: 20px">Add to Cart</span>
                        </a>


                    </div>
                    <div class="col-md-1 ">
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="awe-media margin-bottom-20">
                            <div class="awe-media-image">
                                <a href="#">
                                    <img src="./img/samples/banners/home/home-banner-1.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- /.awe-media -->
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="awe-media margin-bottom-20">
                            <div class="awe-media-image">
                                <a href="#">
                                    <img src="./img/samples/banners/home/home-banner-2.png" alt="">
                                </a>
                            </div>
                            <!-- /.awe-media -->
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </section>
        <!-- /section -->


    </div>



    <!-- /footer -->

</div>
<!-- /#wrapper -->


<div id="login-popup" class="white-popup login-popup mfp-hide">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#account-login" aria-controls="account-login" role="tab" data-toggle="tab">Account Login</a>
            </li>

            <li role="presentation">
                <a href="#account-register" aria-controls="account-register" role="tab" data-toggle="tab">Register</a>
            </li>
        </ul>
        <!-- /.nav -->

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="account-login">
                <form action="adminIndex.html" method="POST">
                    <div class="form-group">
                        <label for="login-account">Account</label>
                        <input type="text" class="form-control" id="login-account">
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input type="password" class="form-control" id="login-password" data-show-password="true">
                    </div>
                    <!-- /.form-group -->

                    <div class="forgot-passwd">
                        <a href="#" title="">
                            <i class="icon icon-key"></i>
                            <span>Forgot your password?</span>
                        </a>
                    </div>
                    <!-- /.forgot-passwd -->

                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="account-register">
                <form action="adminIndex.html" method="POST">
                    <div class="form-group">
                        <label for="register-username">Username <sup>*</sup>
                        </label>
                        <input type="text" class="form-control" id="register-username">
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-email">Email <sup>*</sup>
                        </label>
                        <input type="text" class="form-control" id="register-email">
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-password">Password <sup>*</sup>
                        </label>
                        <input type="password" class="form-control" id="register-password">
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label for="register-confirm-password">Confirm Password <sup>*</sup>
                        </label>
                        <input type="password" class="form-control" id="register-confirm-password">
                    </div>
                    <!-- /.form-group -->

                    <div class="form-button">
                        <button type="submit" class="btn btn-lg btn-warning btn-block">Register</button>
                    </div>
                    <!-- /.form-button -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</div>
<!-- /.login-popup -->
</th:block>
</body>

</html>
